SONARQUBE_VERSION=26.9.0.129388-community

POSTGRES_VERSION=17

SONAR_DB_NAME=sonar
SONAR_DB_USER=sonar
SONAR_DB_PASSWORD=change-me

JCR_VERSION=7.161.24

JCR_DB_NAME=artifactory
JCR_DB_USER=artifactory
JCR_DB_PASSWORD=change-me